/* index page style */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #b49222, #77d6e2);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* data box container */
.container {
  background: linear-gradient(135deg, #c7fffc, #f8f67f);
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 20px;
  color: #221f1f;
}

/* Search button */
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box input {
  width: 70%;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
  outline: none;
}

.search-box button {
  padding: 10px;
  border: none;
  background: #2ab32f;
  color: white;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  transition: 0.3s;
}

.search-box button:hover {
  background: #45a049;
}

/* Weather info box */
.weather-box {
  font-size: 16px;
  color: #333;
}

.weather-box img {
  width: 80px;
  height: 80px;
}
